:root {
  --primary-hue: 210.93deg;
  --primary-saturation: 68.79%;
  --primary-lightness: 27.65%;
}

.dark {
  --primary-hue: 208.73deg;
  --primary-saturation: 55.91%;
  --primary-lightness: 75.1%;
}

.hextra-nav-container nav > a[href="/"] span.hx\:font-extrabold {
  font-size: 1.5rem !important;
  margin-left: 0.2rem !important;
}

.content :where(table):not(:where(.hextra-code-block table,[class~=not-prose],[class~=not-prose] *)) {
  display: table;
}

